
.modal-content-body {
    & .red {
        color: red;
    }
}

label {
    margin: 12px 0 4px 0;
}

i {
    width: 20px;
}

#limit {
    width: 80px;
}s

.limit-label {
    width: 200px !important;
    padding: 4px 0;
}